//- Primary Meta Tags
meta(name='title' content='EST AGADIR - GENIE INFORMATIQUE')
meta(name='description' content='Tous les leçons et les ressources dont vous aurez besoin dans la branche de génie informatique')

//- Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='https://estgi.io/')
meta(property='og:title' content='EST AGADIR - GENIE INFORMATIQUE')
meta(property='og:description' content='Tous les leçons et les ressources dont vous aurez besoin dans la branche de génie informatique')
meta(property='og:image' content='/images/desc-image.jpg')

//- Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='https://estgi.io/')
meta(property='twitter:title' content='EST AGADIR - GENIE INFORMATIQUE')
meta(property='twitter:description' content='Tous les leçons et les ressources dont vous aurez besoin dans la branche de génie informatique')
meta(property='twitter:image' content='/images/desc-image.jpg')
