script(src="/vendor/dark-theme/dark-theme.js")
script(src="/jquery/jquery.min.js")
script(src="/bootstrap/js/bootstrap.bundle.min.js")
script(src="/aos/aos.js")
script(src="/slick/slick.js")
script(src="/plyr/plyr.js")
script(src="/js/script.js")