link(rel="stylesheet", href="/remixicon/remixicon.css")
link(rel="stylesheet", href="/aos/aos.css")
link(rel="stylesheet", href="/slick/slick.css")
link(rel="stylesheet", href="/slick/slick-theme.css")
link(rel="stylesheet", href="/plyr/plyr.css")
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/vendor/dark-theme/dark-theme.css")