- var alertSuccess = '<strong>Thank you</strong> for visiting our website. Plese leave me a feedback *_*'

if (alertError)
  include alerts/error.pug

if (alertSuccess)
  include alerts/success.pug

if (alertInfo)
  include alerts/info.pug