footer.footer
  .top-side
    .container-fluid
      a.brand(href="/")
        img(src="/images/logo.jpg", alt="EST GI", height="50")

      ul.socials
        li.item
          a(href="http://facebook.com")
            i.ri-facebook-line

        li.item
          a(href="http://twitter.com")
            i.ri-twitter-line

        li.item
          a(href="http://youtube.com")
            i.ri-youtube-line

        li.item
          a(href="http://instagram.com")
            i.ri-instagram-line

  .bottom-side
    .container-fluid
      p Tous droits réservés
      p &copy; 2020 - 2021