/* 
============
== Header
============
*/

header.header {

  nav.navbar {

    .navbar-brand {
      height: 50px;
    }

    ul.nav {

      .nav-item {
        margin: 5px 10px;

        >a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          color: #fff;
          text-decoration: none;
          cursor: pointer;

          i {
            font-size: 1.2rem;
          }
        }

        .dropdown-menu {
          padding: 0;

          .dropdown-item {
            padding: 10px 15px;

            &:not(:last-child) {
              border-bottom: 1px #ddd solid;
            }
          }
        }
      }
    }

    .login-area {
      display: flex;
      justify-content: end;
      align-items: center;

      a {
        display: block;
        margin-inline-end: 15px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {

  header.header {

    nav.navbar {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;

      .navbar-brand {
        margin: 0;
      }

      ul.nav {
        justify-content: center;
        margin-top: 10px;
      }

      .login-area {
        margin-top: 15px;
      }
    }
  }
}