body {
	background-color: #f1f2f5 !important;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.login-form {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
}

.from-avatar {
	font-size: 80px;
	display: flex;
	justify-content: center;
}