header.header.fixed-top.shadow-sm.bg-white
  .container-fluid

    nav.navbar.navbar-light

      a.navbar-brand.p-0(href='/') 
        img(src="/images/logo.svg", alt="EST GI", height="50")
      
      .login-area
        a.login(href="/login") Login
        a.btn.btn-main(href="/register") Register