header.header.fixed-top.shadow-sm.bg-white
  .container-fluid

    nav.navbar.navbar-light

      a.navbar-brand(href='/') 
        img(src="/images/logo.jpg", alt="EST GI", height="50")
      
      ul.nav
        li.nav-item(title="Lessons")
          a.bg-main(href="/u/lessons")
            i.ri-slideshow-2-line

        li.nav-item(title="Notifications")
          a.bg-main(href="/u/notifications")
            i.ri-notification-3-line
        
        li.nav-item(title="Settings")
          a.bg-main(href="/u/settings")
            i.ri-settings-5-line

        li.nav-item(title="Logout")
          a.bg-main(href="/u/logout")
            i.ri-logout-box-r-line
