div.alert.alert-danger.alert-dismissible.fade.show.rounded-0.m-0(role="alert")
  != alertError
  button.close(type="button", data-dismiss="alert", aria-label="Close")
    span(aria-hidden="true") &times;