/* 
============
== Article Reading Page
============
*/

main.article {
  padding-top: 20px;
  padding-bottom: 20px;

  .picture {
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
  }

  .content {
    font-size: 1.2rem;

    .para {
      padding: 10px 20px;

      ul {
        padding-top: 10px;
        padding-inline-start: 50px;
      }
    }

    .h2 {
      border-inline-start: 5px #ddd solid;
      padding-inline-start: 10px;
    }
  }
}