<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
    title Lesson slug
  body
    include ../layouts/header.pug

    main.article.col-md-8.mx-auto
      .picture
        img(src="/images/articles/article-1604415673641-45.jpg", alt=" ")
      .h1.text-center.mt-3 Introduction to algorithms
      hr
      .content
        .h2 What is algorithm ?
        .para
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quas ratione error necessitatibus nulla est, et repudiandae accusantium, velit fugit sapiente. Nihil maiores nemo, a nobis ipsum id fuga distinctio!

        .para
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam atque quo. Saepe dolorum, voluptatibus placeat amet ut aspernatur voluptatem consequuntur eaque voluptas, laudantium nisi molestiae, error similique hic maxime!
        
        .h2 How algotithm works ?
        .para
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quas ratione error necessitatibus nulla est, et repudiandae accusantium, velit fugit sapiente. Nihil maiores nemo, a nobis ipsum id fuga distinctio!

        .para
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam atque quo. Saepe dolorum, voluptatibus placeat amet ut aspernatur voluptatem consequuntur eaque voluptas, laudantium nisi molestiae, error similique hic maxime!

        .para
          | To be good in algorithms you should :
          ul
            li Have 1
            li Do 2
            li Don't 3

        .para
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam atque quo. Saepe dolorum, voluptatibus placeat amet ut aspernatur voluptatem consequuntur eaque voluptas, laudantium nisi molestiae, error similique hic maxime! 
          a(href="/") http://google.com

    //- include ../layouts/footer.pug
    include ../partials/scripts.pug