<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
    title Reset Password
  body
    include ../layouts/header.pug

    main.forgot-password
      .picture.col-md-5.d-none.d-md-block
        img(src="/images/password.svg", alt=" ")

      form.form.col-md-6(action="/reset-password", method="post", enctype="multipart/form-data")
        .title Reset password
        .form-group
          label Enter your email adress
          input.form-control.form-control-lg(type="email", name="email", placeholder="example@example.com")

        button.btn.btn-primary.col-md-6.rounded-pill(type="submit") Send temporary password

    //- include ../layouts/footer.pug
    include ../partials/scripts.pug