<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
    title Lessons
  body
    include ../layouts/header.pug

    main.lessons
      h1.text-center Lessons

    //- include ../layouts/footer.pug
    include ../partials/scripts.pug