<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
  body
    include ../layouts/header.pug

    main.login
      | Welcome to the login page

    include ../layouts/footer.pug
    include ../partials/scripts.pug