<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
    title Notifications
  body
    include ../layouts/header.pug

    main.notifications
      h1.text-center Notifications

    //- include ../layouts/footer.pug
    include ../partials/scripts.pug