<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/meta.pug
    include ../partials/stylesheets.pug
    title Settings
  body
    include ../layouts/header.pug

    main.settings
      h1.text-center Settings

    //- include ../layouts/footer.pug
    include ../partials/scripts.pug